<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Bank Guru</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a9f61">  <td>19/09/03 15:25:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Account_Authentication_01_Login.TC_01_LoginToSystem()[pri:0, instance:myaccountant.account.Account_Authentication_01_Login@3108bc]">TC_01_LoginToSystem</td> 
  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/09/03 15:25:41</td>   <td>4863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Account_Authentication_01_Login.TC_02_Dashboard()[pri:0, instance:myaccountant.account.Account_Authentication_01_Login@3108bc]">TC_02_Dashboard</td> 
  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/09/03 15:25:29</td>   <td>-7581</td> <td>&nbsp;</td><td title="&gt;&gt;Account_Authentication_01_Login.beforeTest()[pri:0, instance:myaccountant.account.Account_Authentication_01_Login@3108bc]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/09/03 15:25:29</td>   <td>-7584</td> <td title="&gt;&gt;AbstractTest.deleteAllFilesInReportNGScreenShot()[pri:0, instance:myaccountant.account.Account_Authentication_01_Login@3108bc]">&gt;&gt;deleteAllFilesInReportNGScreenShot</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
</table>
